#include <windows.h>
#include <commctrl.h>
#include "getwadrc.h"
#include "misc.h"

GETWAD DIALOG DISCARDABLE LOADONCALL PURE MOVEABLE 20, 20, 400, 186
STYLE WS_POPUP | WS_CAPTION | 0xC0L | 4L
CAPTION "GetWAD"
FONT 8, "Helv"
{
  CONTROL "", IDD_ST, "EDIT",
          ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY |
          WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_VSCROLL |
          WS_HSCROLL,
          6, 8, 388, 134
  CONTROL    ""         IDD_PB, PROGRESS_CLASS, WS_CHILD | WS_VISIBLE, 8, 150, 384, 10
  PUSHBUTTON "Cancel"	IDCANCEL, 152, 166, 96,  14
}

OPTS DIALOG DISCARDABLE LOADONCALL PURE MOVEABLE 20, 20, 268, 194
STYLE WS_POPUP | WS_CAPTION | 0xC0L | 4L
CAPTION "GetWAD Options"
FONT 8, "Helv"
{
  LTEXT "Preferred search pages:", IDD_LBLABEL, 8,8,200,12
  LISTBOX IDD_PREDEF, 8,20,224,94, WS_CHILD|WS_VISIBLE|WS_BORDER|LBS_NOTIFY|WS_TABSTOP|WS_GROUP|LBS_NOINTEGRALHEIGHT|WS_VSCROLL|WS_HSCROLL|LBS_DISABLENOSCROLL
  PUSHBUTTON  "Add"		IDD_ADD,	240,20,20,14,  WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_GROUP|BS_BITMAP
  PUSHBUTTON  "Delete"		IDD_DEL,	240,40,20,14,  WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_GROUP|BS_BITMAP
  PUSHBUTTON  "Edit"		IDD_EDIT,	240,60,20,14,  WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_GROUP|BS_BITMAP
  PUSHBUTTON  "Up"		IDD_UP,		240,80,20,14,  WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_GROUP|BS_BITMAP
  PUSHBUTTON  "Down"		IDD_DOWN,	240,100,20,14, WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_GROUP|BS_BITMAP

  AUTOCHECKBOX "Search Google",					IDD_USEGOOGLE,	8,120,224,12,  WS_CHILD|WS_VISIBLE|BS_CHECKBOX|WS_TABSTOP|WS_GROUP
  AUTOCHECKBOX "Enable FTP protocol",				IDD_ENABLEFTP,	8,134,224,12,  WS_CHILD|WS_VISIBLE|BS_CHECKBOX|WS_TABSTOP|WS_GROUP

  LTEXT "WAD Directory:", IDD_DESTLBL ,8,154,52,8
  EDITTEXT IDD_WADDIR, 68,152,164,12, WS_GROUP|WS_TABSTOP
  PUSHBUTTON "Browse",	IDD_DIRBR, 240,151,20,14, WS_GROUP|WS_TABSTOP|BS_BITMAP

  PUSHBUTTON "Defaults"	IDD_REVERT, 8, 172, 72, 14, WS_GROUP
  PUSHBUTTON "OK"	IDOK,      98, 172, 72, 14, WS_GROUP
  PUSHBUTTON "Cancel"	IDCANCEL, 188, 172, 72, 14

}
add_img		BITMAP	new.bmp
del_img		BITMAP	del.bmp
prop_img	BITMAP	prop.bmp
browse_img	BITMAP	browse.bmp
up_img		BITMAP	up.bmp
down_img	BITMAP	down.bmp

1		24	manifest

dlg1 DIALOG DISCARDABLE LOADONCALL PURE MOVEABLE  50, 30, 180, 43
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | 0xC0L | 4L
CAPTION ""
FONT 8, "Helv"
{
  EDITTEXT		IDD_STRED1,	6,  5,168, 12, WS_GROUP | ES_OEMCONVERT | ES_AUTOHSCROLL
  DEFPUSHBUTTON	""	IDOK,		6, 24, 52, 14, WS_GROUP
  PUSHBUTTON	""	IDCANCEL,	64, 24, 52, 14, WS_GROUP
  PUSHBUTTON	""	IDD_HELP,	122, 24, 52, 14, WS_GROUP
  LTEXT		""	IDD_HSPARM1,	-10, -10, 8, 8
}


dlg10 DIALOG DISCARDABLE LOADONCALL PURE MOVEABLE  50, 30, 168, 196
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | 0xC0L | 4L
CAPTION ""
FONT 8, "Helv"
{
  LTEXT		""	IDD_LABEL1,	  6,   7, 64,  8
  LTEXT		""	IDD_LABEL1+1,	  6,  24, 64,  8
  LTEXT		""	IDD_LABEL1+2,	  6,  41, 64,  8
  LTEXT		""	IDD_LABEL1+3,	  6,  58, 64,  8
  LTEXT		""	IDD_LABEL1+4,	  6,  75, 64,  8
  LTEXT		""	IDD_LABEL1+5,	  6,  92, 64,  8
  LTEXT		""	IDD_LABEL1+6,	  6, 109, 64,  8
  LTEXT		""	IDD_LABEL1+7,	  6, 126, 64,  8
  LTEXT		""	IDD_LABEL1+8,	  6, 143, 64,  8
  LTEXT		""	IDD_LABEL1+9,	  6, 160, 64,  8
  EDITTEXT		IDD_STRED1,	 72,   5, 90, 12, WS_GROUP | ES_OEMCONVERT | ES_AUTOHSCROLL
  EDITTEXT		IDD_STRED1+1,	 72,  22, 90, 12, WS_GROUP | ES_OEMCONVERT | ES_AUTOHSCROLL
  EDITTEXT		IDD_STRED1+2,	 72,  39, 90, 12, WS_GROUP | ES_OEMCONVERT | ES_AUTOHSCROLL
  EDITTEXT		IDD_STRED1+3,	 72,  56, 90, 12, WS_GROUP | ES_OEMCONVERT | ES_AUTOHSCROLL
  EDITTEXT		IDD_STRED1+4,	 72,  73, 90, 12, WS_GROUP | ES_OEMCONVERT | ES_AUTOHSCROLL
  EDITTEXT		IDD_STRED1+5,	 72,  90, 90, 12, WS_GROUP | ES_OEMCONVERT | ES_AUTOHSCROLL
  EDITTEXT		IDD_STRED1+6,	 72, 107, 90, 12, WS_GROUP | ES_OEMCONVERT | ES_AUTOHSCROLL
  EDITTEXT		IDD_STRED1+7,	 72, 124, 90, 12, WS_GROUP | ES_OEMCONVERT | ES_AUTOHSCROLL
  EDITTEXT		IDD_STRED1+8,	 72, 141, 90, 12, WS_GROUP | ES_OEMCONVERT | ES_AUTOHSCROLL
  EDITTEXT		IDD_STRED1+9,	 72, 158, 90, 12, WS_GROUP | ES_OEMCONVERT | ES_AUTOHSCROLL
  DEFPUSHBUTTON	""	IDOK,		  6, 177, 48, 14, WS_GROUP
  PUSHBUTTON	""	IDCANCEL,	 60, 177, 48, 14, WS_GROUP
  PUSHBUTTON	""	IDD_HELP,	114, 177, 48, 14, WS_GROUP
  LTEXT		""	IDD_HSPARM1,	-10, -10,  8,  8
}
